{% extends "layout.html" %}

{% block content %}
<div class='row'>
  <div class='col-lg-6'>
    <ol class='breadcrumb'>
      <li><a href="{{ url_for('sites.manage_site', site_id=site.id) }}">{{ site.name }}</a></li>
      {% if folder_prefix %}
        {% for path_info in paths %}
          {% for elem, path in path_info.iteritems() %}
          <li><a href="{{ url_for('sites.manage_site_folder', site_id=site.id, folder_prefix=path) }}/">{{ elem }}</a></li>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </ol>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>File Name</th>
          <th>Size</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        {% for file in site.get_files(folder_prefix) %}
        <tr>
          {% if file['ext'] in image_exts %}
          <td>{{file['name']}}</td>
          {% elif file['is_folder'] %}
          <td><i class="fa fa-folder"></i> <a href="{{ url_for('sites.manage_site_folder', site_id=site.id, folder_prefix=file['key']) }}">{{ file['name'] }}</a></td>
          {% else %}
          <td><a href="{{ url_for('sites.edit_file', site_id=site.id, key=file['key']) }}">{{ file['name'] }}</a></td>
          {% endif %}
          <td>{{ file['size']|filesizeformat }}</td>
          {% if file['is_folder'] %}
          <td><button class='btn btn-danger fileDelete' file-name={{file['key']}} type="button" delete-target="{{ url_for('sites.delete_folder', site_id=site.id, key=file['key']) }}">Delete</button></td>
          {% else %}
          <td><button class='btn btn-danger fileDelete' file-name={{file['key']}} type="button" delete-target="{{ url_for('sites.delete_file', site_id=site.id, key=file['key']) }}">Delete</button></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class='col-lg-6'>
    <h3>Upload Files</h3>
    {% if folder_prefix %}
    <form role='form' id='uploadForm' method='post' action="{{ url_for('sites.upload_in_folder', site_id=site.id, folder_prefix=folder_prefix) }}" enctype='multipart/form-data'>
    {% else %}
    <form role='form' id='uploadForm' method='post' action="{{ url_for('sites.upload', site_id=site.id) }}" enctype='multipart/form-data'>
    {% endif %}
      {{ form.hidden_tag() }}
      <div class='form-group'>
        <label>Upload only web-related files.</label>
        {% if form.files.errors %}
        {% for error in form.files.errors %}
        <p class='text-danger'>{{error}}</p>
        {% endfor %}
        {% endif %}
        {{ form.files(multiple=True) }}
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload"></i> Upload Files</button>
    </form>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-lg-4'>
    <h4>Delete Site <span class='text-danger'><em>( Careful! )</em></span></h4>
    <button class='btn btn-danger' id='deleteSiteButton' delete-target="{{ url_for('sites.delete_site', site_id=site.id) }}">Permanently Delete Site</button>
  </div>
</div>

<div class="modal fade" id='deleteModal'>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><em>Confirm Deletion</em></h4>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want to delete <span id='modalFilename'>this file</span>?</h3>
        <form role='form' id='deleteFileForm' method='post' action="">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type='submit' class='btn btn-danger'>Delete Forever</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='uploadModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><em>Beep boop...</em></h4>
      </div>
      <div class="modal-body">
        <h3><i class="fa fa-cog fa-spin"></i> Uploading your files!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='deleteSiteModal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><strong>You are about to perform an irreversible action.</strong></h4>
      </div>
      <div class="modal-body">
        <h4>You are about to delete this site, and all the files with it. <em>Permanently.</em></h4>
        <p>Are you sure you want to do this?</p>
        <button type="button" class="btn btn-lg btn-success" data-dismiss="modal">UH NOPE</button>
        <hr>
        <form role='form' id='deleteSiteForm' method='post' action="">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type='submit' class='btn btn-danger btn-xs'>Delete Forever</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  $("#uploadForm").submit(function(e) {
    $("#uploadModal").modal();
  });
  $(".fileDelete").click(function(event) {
    var deleteFileURL = $(this).attr('delete-target');
    var filename = $(this).attr('file-name');
    $("#modalFilename").text(filename);
    $("#deleteFileForm").attr('action', deleteFileURL);
    $("#deleteModal").modal();
  });
  $("#deleteSiteButton").click(function(event) {
    var deleteSiteURL = $(this).attr('delete-target');
    $("#deleteSiteForm").attr('action', deleteSiteURL);
    $("#deleteSiteModal").modal();
  });
</script>
{% endblock %}