{% if loginForm %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login to your account</h4>
      </div>
      <div class="modal-body">
        <form id="loginForm" role='form' method="POST" action="{{ url_for('users.login') }}">
          {{ loginForm.hidden_tag() }}
          <div class='form-group'>
            {{ loginForm.creds(type='text', placeholder='Username or email', class='form-control') }}
          </div>
          <div class='form-group'>
            {{ loginForm.password(type='password', placeholder='Password', class='form-control') }}
          </div>
          <button class="btn btn btn-primary" id="loginButton" type="submit"><i class="fa fa-sign-in"></i> Log In</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('public.home') }}">
        
        StackSites
        
      </a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        {% if current_user and current_user.is_authenticated() %}
        <li><a href="{{ url_for('public.user_dashboard') }}">Dashboard</a></li>
        <li class='dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Sites <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for site in current_user.sites %}
            <li><a href="{{ url_for('sites.manage_site', site_id=site.id) }}">{{ site.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ url_for('users.settings') }}">Settings</a></li>
        {% endif %}
      </ul>

      {% if current_user and current_user.is_authenticated() %}
        <form class='navbar-form navbar-right' method="POST" action="{{ url_for('users.logout') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type='submit' class='btn btn-lg btn-primary'><i class="fa fa-sign-out"></i> Log Out</button>
        </form>

        

      {% elif loginForm %}
        <p class="navbar-text navbar-right"><a class="navbar-link" href="{{ url_for('users.login_help') }}">Can't log in?</a></p>
        <form class='navbar-form navbar-left'>
          <a class="btn btn-lg btn-primary" href="{{ url_for('users.register') }}" >Sign Up</a>
        </form>

        <form class='navbar-form navbar-right'>
          <button type="button" class='btn btn-primary visible-xs visible-md visible-sm' data-toggle="modal" data-target="#loginModal">Login</button>
        </form>

        <form id="loginForm" class="hidden-md hidden-xs hidden-sm navbar-form form-inline navbar-right" method="POST" action="{{ url_for('users.login') }}">
          {{ loginForm.hidden_tag() }}
          <div class='form-group'>
            {{ loginForm.creds(type='text', placeholder='Username or email', class='form-control') }}
            {{ loginForm.password(type='password', placeholder='Password', class='form-control') }}
          </div>
          <button class="btn btn-sm btn-primary" id="loginButton" type="submit"><i class="fa fa-sign-in"></i> Log In</button>
        </form>
      {% endif %}
    </div>
  </div> 
</nav>
