{% extends "layout.html" %}

{% block content %}
  <div class='row'>
    <div class='col-lg-4'>
      <h3>Your Sites</h3>
      <ul class='list-group'>
      {% for site in user.sites %}
        <li class='list-group-item'><a href="{{url_for('sites.view_site', username=user.username, site_name=site.name)}}" target="_blank"><strong style='font-size: 200%;'><i class="fa fa-external-link"></i> {{ site.name }}</strong></a></li>
      {% endfor %}
      </ul>
        
    </div>
  </div>
{% endblock %}