
{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <h2>Reset your password</h2>
    <form role="form" id="resetForm" method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="inputPassword">New Password</label>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.password(type="password", placeholder="New Password", class="form-control", style="width: 70%") }}
      </div>

      <div class="form-group">
        <label for="inputConfirmPassword">Confirm New Password</label>
        {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.confirm(type="password", placeholder="Confirm New Password", class="form-control", style="width: 70%") }}
      </div>
      <button type="submit" id="resetButton" class="btn btn-primary">
        <i class="fa fa-key"></i> Reset Password
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type='text/javascript'>
  buttonClick("#resetButton");
</script> 
{% endblock %}
