{% extends "layout.html" %}

{% block content %}
<div class='row'>
  <div class='col-lg-10'>
    <div class='panel panel-default'>
      <div class="panel-heading">
         <h3 class="panel-title">Editing <strong>{{ filename }}</strong></h3>
      </div>
      <div class="panel-body">
        <div id="editor" style="height: 40em;"></div>
      </div>
    </div>
  </div>
  <div class='col-lg-2'>
    <p class='text-info hidden' id='loadingText'>Saving changes <i class="fa fa-refresh fa-spin"></i></p>
    <p class='text-warning hidden' id='unsavedText'>Unsaved changes <i class="fa fa-exclamation-triangle"></i></p>
    <div class='btn-group-vertical'>
      <button class='btn btn-lg btn-success' id='saveButton'><i class="fa fa-floppy-o"></i> Save</button>
    <a class='btn btn-default' href="{{ url_for('sites.view_file', username=site.user.username, site_id=site.id, filename=filename) }}" target='_blank'>View {{ filename }}</a>
    <a class='btn btn-primary' href="{{ url_for('sites.view_site', username=site.user.username, site_name=site.name) }}" target='_blank'>View Site</a>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
<script type="text/javascript">
  var editor = ace.edit("editor");
  $.ajax({
    url: "{{s3_path}}",
    success: function(result) {
      editor.setValue(result);
    }
  });
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/html");

  editor.getSession().on('change', function(e) {
    $('#unsavedText').removeClass('hidden');
  });

  $(document).ready(function() {
    $("#saveButton").click(function() {
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};  
      var target = $SCRIPT_ROOT + "{{ url_for('sites.save_file', site_id=site.id) }}";
      var jsondata = {
        'data': editor.getValue(),
        'filename': "{{ filename }}",
        'site_name': "{{ site.name }}"
      };
      $('#loadingText').removeClass('hidden');
      $('#unsavedText').addClass('hidden');
      $.getJSON(target, jsondata, function(data) {
        console.log('server says ' + data['status']);
        $('#loadingText').addClass('hidden');
      })
    });
  });
  
</script>
{% endblock %}